<!DOCTYPE html>
<html lang="en">
<head>
  <title>Soncur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo horizontal-logo" alt="logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
          </a>
         
        </li> -->


        {%if current_user.is_authenticated%}
    
        <li class="nav-item">
          <a  href="#"  class="nav-link"  style="color: white;">{{current_user.Username}}</a>
        </li>
        <li class="nav-item">
            <a  href="#"  class="nav-link"  style="color: white;">Shopping Cart</a>
          </li>
        <li class="nav-item">
          <a  href="{{url_for('LOGOUT')}}" type="button" class="btn btn-primary" href="#">LogOut</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a   href="{{url_for('register')}}" type="button" class="btn btn-primary" href="#">SignUp</a>
        </li>
        <li class="nav-item">
          <a  href="{{url_for('LOGIN')}}" type="button" class="btn btn-primary" href="#">SignIn</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>
<div class="container py-3">
<!-- {%for user in USERS%}
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
          <img   class="w-100" src="{{ url_for('static', filename = 'Lovers/'+  user.BIO_Author.Username +  '/Pics/' +  user.BIO_Author.Image_name) }}">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{user.BIO_Author.Username}}</h4>
            <p class="card-text"><b>Intrests:</b>  {{user.Intrests}}</p>
            <p class="card-text"><b>BIO:</b> {{user.BIO}}</p>
            <a href="{{ url_for('BIO_View', User=user.id) }}" class="btn btn-primary">Read More</a>
          </div>
        </div>

      </div>
    </div>
    {%endfor%} -->
  </div>
</div>


  <script type="text/javascript">
    // function myFunction() {
    //   var x = document.getElementById("myTopnav");
    //   if (x.className === "topnav") {
    //     x.className += " responsive";
    //   } else {
    //     x.className = "topnav";
    //   }
    // }

    const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";

$(window).on("load resize", function() {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
      function() {
        const $this = $(this);
        $this.addClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "true");
        $this.find($dropdownMenu).addClass(showClass);
      },
      function() {
        const $this = $(this);
        $this.removeClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "false");
        $this.find($dropdownMenu).removeClass(showClass);
      }
    );
  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});


  </script>
</body>
</html>
